modules = ["web", "nodejs-20"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[deployment]
run = "node server.js"
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Direct API"

[[workflows.workflow]]
name = "Direct API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 3000
externalPort = 80

[userenv]

[userenv.shared]
APP_URL = "https://4bd965cd-f40c-4e88-8c5f-6909c6b1b42f-00-20u30riupxqor.kirk.replit.dev"
NODE_ENV = "production"
SUPABASE_URL = "https://rzdhiwroxujkbjgovesu.supabase.co"
